<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Maintenance Monitor</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style>
    html {
      height:100%
    }
    body {
      height:100%
    }
    .container-fluid {
      height:100%
    }
    .container-fluid > * {
      width: 100%;
    }
    #updated {
      font-size: large;
    }
  </style>
</head>

<body>
<div id="container" class="container-fluid d-flex">
  <div class="d-flex align-items-center justify-content-center">
    <div id="mainContent">
      <h1> Maintenance Monitor </h1>
      <p id="message" class="text-center">keine Informationen</p>
      <p id="updated" class="text-center"></p>
    </div>
  </div>
</div>


<script>
  var farbe = document.getElementById('container');
  var zeitAktualisierung = document.getElementById('updated');
  var nachricht = document.getElementById('message');



  function checkState() {

    fetch(`http://localhost:8080/api/monitoring`).then(response => {
      response.text().then(text => {

        if(text === '-') {
          nachricht.innerText = "";
          farbe.style.background = 'green';
        } else {
          nachricht.innerText = "Server rennt!";
          farbe.style.background = 'green';
        }

      });
      zeitAktualisierung.innerText = 'letzte Aktualisierung: ' + (new Date()).toLocaleTimeString()
    }).catch(()=> {
      nachricht.innerText = "keine Verbindung!";
      farbe.style.background = 'red';
      zeitAktualisierung.innerText = 'letzte Aktualisierung: ' + (new Date()).toLocaleTimeString()
    });
  }

  checkState();




  setInterval(checkState, 5000);//kontrolliert jede 5 Sekunden, Wert in Millisekunden
</script>
</body>

</html>